*.pyc
*.pyd
*.dylib
*.so
*.so.*
*.dll
*.vcxproj*
*.tcl
*.sln
*.cmake
*.whl
*.def
/*.png
/*.onnx
.build_path.txt
_setup_ext.txt
coverage.html/*
_cache/*
_deps/*
.vs/*
*.dir/*
Release/*
Testing/*
plot_*.csv
plot_*.xlsx
x64/*
CMakeFiles/*
dist/*
build/*
.eggs/*
*egg-info/*
.coverage
CMakeCache.txt
onnxruntime_*.json
_doc/LICENSE.rst
_doc/LICENSE.txt
_doc/CHANGELOGS.rst
_doc/examples/_cache/*
_doc/auto_examples/*
_doc/examples/*.xlsx
_doc/examples/plot*.csv
_doc/examples/plot*.onnx
_doc/examples/plot_*.png
_doc/examples/plot_*.csv
_doc/examples/plot_*.onnx
_doc/examples/plot_*.xlsx
_doc/_static/require.js
_doc/_static/viz.js
_unittests/ut__main/*.png
_unittests/test_constants.h
mlinsights/_config.py
