environment:

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_compiler.cmd"

  matrix:

    - PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.x"
      PYTHON_ARCH: "64"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - "%PYTHON%\\python -m pip install --upgrade pip"
  - "%PYTHON%\\Scripts\\pip install pymyinstall"
  #- "%PYTHON%\\Scripts\\pymy_install3 --set=pyquickhelper"
  - "%PYTHON%\\Scripts\\pymy_install3 --task=tool --source=zip graphviz"
  #- "%PYTHON%\\Scripts\\pip install pyquickhelper --no-deps"
  #- "%PYTHON%\\Scripts\\pymy_install3 scikit-learn scipy protobuf h5py"
  #- "%PYTHON%\\Scripts\\pip install keras pandas_streaming kiwisolver"
  #- "%PYTHON%\\Scripts\\pymy_install3 torch"
  - "%PYTHON%\\Scripts\\pip install cython"
  - "%PYTHON%\\Scripts\\pip install -r requirements.txt"
  #- "%PYTHON%\\Scripts\\pip install cpyquickhelper"
  #- "%PYTHON%\\Scripts\\pip install seaborn"
  - "set PATH=%PATH%;C:\\projects\\mlinsights\\build\\update_modules\\Graphviz\\bin"
build: off

before_test:
  - "%PYTHON%\\python -u setup.py build_ext --inplace --verbose"

test_script:
  - "%PYTHON%\\python -u setup.py unittests"

after_test:
  - "%PYTHON%\\python -u .\\setup.py bdist_wheel"

artifacts:
  - path: dist
    name: mlinsights
