recursive-include mlinsights *.c *.cpp *.h *.pyx *.pxd *.pxi *.py _cmake *.cmake *.in
include pyproject.toml
include MANIFEST.in
include setup.cfg
prune _doc
prune _unittests
exclude *.bat
exclude *.yml
exclude *.git*
