chardet
coverage
guzzle_sphinx_theme
jyquickhelper
openpyxl
pandas_streaming
pycodestyle>=2.0.0
pydocstyle
pyquickhelper>=1.5.2269
sphinx-bootstrap-theme
sphinx-gallery
sphinx-redactor-theme
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
wheel
