autopep8
black
chardet
clang-format
cmakelang
coverage
cython
cython-lint
furo
llvmlite
matplotlib
memory_profiler>=0.55
notebook
numba
pybind11
pytest
pytest-cov
rstcheck[sphinx,toml]
ruff
seaborn
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tomli
tqdm
wheel
