autopep8
chardet
coverage
cpyquickhelper>=0.3
cython
joblib
jupyter_sphinx>=0.2
jyquickhelper
llvmlite==0.38.0rc1
matplotlib
memory_profiler>=0.55
nbconvert>=6.0.2
numba==0.55.0rc1
numpy
onnx
onnxruntime
pandas_streaming
pybind11
pycodestyle
pydata-sphinx-theme
pyquickhelper>=1.10
pyquicksetup
pylint>=2.9.3
scikit-learn>=0.22.1
scipy
seaborn
skl2onnx
sphinx>=3.0
sphinxcontrib.imagesvg
sphinx_gallery
tqdm
wheel
