biopython
bokeh
Cython
dask
datashape
ipython
jupyter
jupyter_client
jupyter_core
matplotlib
nbformat
nbpresent
notebook>=5.0.0
networkx
numba
numpy>=1.11.0
pandas>=0.20.0
pillow
pyproj
pyzmq
reportlab
scikit-learn
scipy
seaborn
setuptools
Sphinx
sympy
toolz
xarray
