autopep8
babel!=2.0
bokeh
coverage
Cython
docformatter
ipython>=5.0.0
jupyter
jupyter-client
jupyter_sphinx
jyquickhelper
keyring
Mako
matplotlib
mistune
nbconvert>=5.0.0
nbformat
nbpresent
nbsphinx
notebook>=5.0.0
numpy>=1.11.1
openpyxl
pandas>=0.20.0
pandocfilters
pillow
pycodestyle>=2.0.0
pycryptodomex
pydocstyle
pyflakes
pyquickhelper>=1.5.2215
python-jenkins
PyYAML
scikit-learn
scipy
semantic_version
setuptools
Sphinx
sphinx-better-theme
sphinx-gallery
sphinx-rtd-theme
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
tornado
tqdm
unify
virtualenv
wheel
