autopep8
black
clang-format
cmakelang
coverage
chardet
coverage
cython
furo
ipython
jupyter_sphinx>=0.2
llvmlite
matplotlib
memory_profiler>=0.55
notebook
numba
pybind11
pytest
pytest-cov
rstcheck[sphinx,toml]
ruff
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tomli
tqdm
wheel
