
.highlight-ipython3 {
	background-color: #f8f8c8;
}

div.highlight-ipython3 pre {
	background-color: #f8f8c8;
}

.wy-nav-top {
	background-color: #FF0040;
}

.wy-side-nav-search {
	background-color: #FF0040;
}

pre.highlight-default {
	background-color: #b5b5b5;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
