
.highlight-ipython3 {
	background-color: #f8f8c8;
}

div.highlight-ipython3 pre {
	background-color: #f8f8c8;
}

div.body ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

div.body li {
    line-height: 1.1em;
}

.wy-nav-top {
	background-color: #FF0040;
}

.wy-side-nav-search {
	background-color: #FF0040;
}

pre.highlight-default {
	background-color: #b5b5b5;
}

table {
    border: solid 1px #EEEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 11px;
}
thead th {
    background-color: #EFEFEF;
    border: solid 1px #EEEEEE;
    color: #6B6B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 3px;
}
