
.highlight-ipython3 {
	background-color: #f8f8c8;
}

div.highlight-ipython3 pre {
	background-color: #f8f8c8;
}

.wy-nav-top {
	background-color: #FF0040;
}

.wy-side-nav-search {
	background-color: #FF0040;
}

pre.highlight-default {
	background-color: #b5b5b5;
}
