version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.9.9
    
    working_directory: ~/repo
    
    steps:
      - checkout

      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "requirements.txt" }}
          - v2-dependencies-

      - run:
          name: Install pandoc
          command: |
                    sudo apt-get update 
                    wget https://github.com/jgm/pandoc/releases/download/2.18/pandoc-2.18-1-amd64.deb
                    sudo dpkg -i pandoc-2.18-1-amd64.deb
          
      - run:
          name: Install tex
          command: |
                    sudo apt-get install -y texlive
                    sudo apt-get install -y texlive-latex-extra
                    sudo apt-get install -y dvipng
          
      - run:
          name: Install 7z, unrar
          command: |
                    sudo apt-get install -y p7zip-full
          
      - run:
          name: Install InkScape
          command: |
                    sudo apt-get install -y inkscape
          
      - run:
          name: Install graphviz
          command: |
                    sudo apt-get install -y graphviz
          
      - run:
          name: Install libproj
          command: |
            sudo apt-get install -y libgeos-dev libproj-dev proj-data graphviz

      - run:
          name: Install standard libraries
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install scipy matplotlib numpy cython pandas

      - run:
          name: Install pyproj, shapely, cartopy
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install pyproj
            pip uninstall -y shapely
            pip install --no-binary shapely shapely
            pip install cartopy

      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}
        
      - run:
          name: check list of dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip freeze
            apt list --installed
        
      - run:
          name: compile and build
          command: |
            . venv/bin/activate
            python setup.py build_ext --inplace

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python setup.py unittests -d 9

      - run:
          name: wheel
          command: |
            . venv/bin/activate
            python setup.py bdist_wheel
            mkdir -p test-reports/dist
            cp dist/*.whl test-reports/dist
            mkdir -p test-reports
            cp -r  mlinsights test-reports

#      - run:
#          name: documentation
#          command: |
#           . venv/bin/activate
#           python setup.py build_sphinx
#           
#      - run:
#          name: copy documentation
#          command: |
#           mkdir -p test-reports/doc
#           zip -r -9  test-reports/doc/documentation_html.zip _doc/sphinxdoc/build/html
            
      - store_artifacts:
          path: test-reports
          destination: test-reports